:root {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(160, 130, 140);

}

h1 {
    color: rgb(83, 17, 39);
    text-size-adjust: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 50,50,0,50px;
    text-decoration: underline;
    margin-top: 30px;
}    

h2 {
    color:rgb(83, 17, 39);
}   

}
form {
    margin-bottom: 80px;
    padding: 50,50,0,50px;
    border-radius: 8px;
    container: center;
    background-color: rgb(160, 130, 140);
}
input, button {
    padding: 8px 12px;
    margin: 5px;
}
ul {
    list-style: none;
    padding: 0;
    background-color: rgb(160, 130, 140);
}
li {
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(160, 130, 140);
    border: 0.5px groove #732e6c;
    border-radius: 5px;
    max-width: 800px;          /* Add this line */
    margin-left: auto;         /* Add this line */
    margin-right: auto; 
}
button {
    cursor: pointer;
    background: #ad2fa0;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 100px;
    
}
button:hover {
    background: #ef2ce5;
    
}
